1.  Input: "the sky is blue"
Output: "blue is sky the"

In [ ]:
# reverse string
v = []
a = "th sky is blue"
a = a.split(" ")
for i in range(len(a)-1,-1,-1):
    v.append(a[i]
' '.join(v)

'blue is sky the'

2.   Input: "Python makes life easier"
Output: "easier"

In [1]:
# longest word
a = "Python makes life easier"
a = a.split(" ")
count = None
for i in a:
    for j in a:
        if i != j:
            if len(i) > len(j):
                count = i
            elif len(j) > len(i):
                count = i
count

'easier'

In [2]:
li =[]
for i in range(len(a)):
    li.append(a[i])
li

['Python', 'makes', 'life', 'easier']

3. Input: arr = [1, 5, 7, -1], k = 6
Output: 2  # (1,5) and (7,-1)

In [59]:
arr = [1, 5, 7, -1]
k = 6
li = []
for i in (arr):
    for j in (arr):
        if (i + j) == k and (j,i) not in li:
            li.append((i,j))

print(len(li))   
li

2

[(1, 5), (7, -1)]

4. Input: "A man, a plan, a canal: Panama"
Output: True

In [75]:
a = "a man, a plan, a canal: panama"
li = [","," ",":"]
li1 = []
for i in a:
    if i in li:
        continue
    else:
        li1.append(i)

li2 = li1[::-1]
li2 = ''.join(li2)
li1 = ''.join(li1)
def fun(li,li2):
    for i,j in zip(li1,li2):
        if i != j:
            return False
            break
        else:
            return True

fun(li1,li2)

True

In [1]:
import sys

if hasattr(sys, 'real_prefix') or (hasattr(sys, 'base_prefix') and sys.base_prefix != sys.prefix):
    print("✅ Virtual environment is active")
else:
    print("❌ Not inside a virtual environment")

✅ Virtual environment is active

5 . Input: ["bat", "tab", "tap", "pat", "cat"]
Output: [['bat', 'tab'], ['tap', 'pat'], ['cat']]

In [36]:
a = ["bat", "tab", "tap", "pat", "cat"]
b = [[]] * 3
c = 0
for i in a:
    for j in a:
        if i != j and i == j[::-1] and (j,i) not in b:
            b.append((i,j))
            
            
b

[[], [], [], ('bat', 'tab'), ('tap', 'pat')]

6 Input: [1, 2, 4, 6, 3, 7, 8]
Output: 5

In [39]:
a = [1, 2, 4, 6, 3, 7, 8]
b = range(1,max(a))
for i in b:
    if i not in a:
        print(i)
    else:
        pass

5

7. Input: "{[()]}"
Output: True

Input: "{[(])}"
Output: False

In [ ]:
a =  "{[()]}"
b =  "{[(])}"
a = list(a)
st = 0
end = -1
dic = {
    "{" : "}","[":"]","(":")"
}
while True:
    print((dic[a[st]]) == (a[end]))
    if st == 5:
        break
    st = st + 1
    end = end -1

} }
] ]
) )

KeyError: ')'

Input: "aabbcddeff"
Output: "c"

In [ ]:
a = "abbcddeffa"
a = list(a)
li = []
for i in range(len(a)):
    for j in range(len(a)):
        if i != j and a[i] == a[j]:
            li.append(a[j])


for i in li:
    if i in a:
        a.remove(i)

a

['c', 'e']

8. Input: "hello world"  
Output: Vowels = 3, Consonants = 7

In [4]:
a = "hello world"
a = list(a)
b = ["a","e","i","o","u"]
vowel = 0
con = 0
for i in a:
    if i in b:
        vowel = vowel + 1
    else:
        con = con + 1

print("Vowels: ",vowel)
print("con: ",con - 1)

Vowels:  3
con:  7

9. Input: [1, [2, [3, 4], 5], 6]  
Output: [1, 2, 3, 4, 5, 6]

In [26]:
a = [1, [2, [3, 4], 5], 6]
li = []

def res(a):
    for i in a:
        if isinstance(i, list):
            res(i)         
        else:
            li.append(i)

res(a)  
print(li)

[1, 2, 3, 4, 5, 6]

10. Input: "banana"  
Output: {'b': 1, 'a': 3, 'n': 2}

In [ ]:
a =  "banana"  
val = {}
for i in a:
    if
    b = a.count(i)
    print(b)

1
3
2
3
2
3

3

EG CODE

In [4]:
ar = [1, 2, 3, 4, 5, 6]
li = []

for i in ar:
    li.insert(2,i)
li

[1, 2, 6, 5, 4, 3]

11. Input: [1,2,3,4,5], k=2 → Output: [4,5,1,2,3]

In [ ]:
a = [1,2,3,4,5]
k=2 
b= a[-2:]+a[:-2]
b

[4, 5, 1, 2, 3]

12. a = [1,3,-1,-3,5,3,6,7] k = 3 output = 3,3,5,5,6,7

In [43]:
a = [1,3,-1,-3,5,3,6,7]
a = [abs(i) if i < 0 else i for i in a]
k = 3
start = 0
end = start + k
while True:
    if end == len(a):
        print(max(a[start:end]))
        break    
    print(max(a[start:end]))
    start = start + 1
    end = end + 1

3
3
5
5
6
7

13. Input: nums = [2, 7, 11, 15], target = 9
Output: [0, 1]

In [60]:
num = [2,7,11,15]
tar = 9
val = []
for i in range(len(num)):
    for j in range(len(num)):
        if i != j and (num[i] + num[j]) == tar and (j,i) not in val:
            val.append((i,j))
val

[(0, 1)]

In [61]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [58]:
a = [66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66,
     66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66,
     66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66,
     66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66,
     66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66]

b = {}
for i in a:
    if i not in b:
        val = a.count(i)
        b[i] = val 
print(b)    
li = []

if len(b) <= 1:
    print(list(b)[0])
else:
    for i in b:
        if i + 1 in b:
            val = b[i] + b[i+1]
            li.append(val)
    print(max(li))

{66: 100}
66

In [45]:
len(b.items())

3

In [ ]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data, index=['a', 'b', 'c'])

df.loc["a":"c"]

      Name  Age
a    Alice   25
b      Bob   30
c  Charlie   35

In [27]:
df.iloc[:1]

    Name  Age
a  Alice   25

In [25]:
df.loc["a":"b"]

    Name  Age
a  Alice   25
b    Bob   30

In [11]:
n = 1
val = 1
if n == 0:
    print(1) 
else:
    for i in range(1,n+1):
    
        if i % 2 == 0:
            val = val + 1
        elif i % 2 != 0:
            val = val * 2
val

2

In [27]:
a = 20
b = [97, -55, 48, -22, 99, -46, 40, 11, 5, -61, 78, -20, 44, 22, -8, 82, 24, -62, 0, 52,
     -79, 68, -73, -81, 33, 60, -99, -99, 59, -13, 90, -26, 84, 90, 76, 36, -45, 79, 87, 48,
     59, -36, 42, -6, -13, 21, -19, -21, 39, -40]

val = 0

for i in b:
    if i <= 0:
        val = val + 1

if val >= a:
    print("NO",val)
else:
    print("YES",val)

NO 22

In [24]:
k = 20
a = [97, -55, 48, -22, 99, -46, 40, 11, 5, -61, 78, -20, 44, 22, -8, 82, 24, -62, 0, 52, -79, 68, -73, -81, 33, 60, -99, -99, 59, -13, 90, -26, 84, 90, 76, 36, -45, 79, 87, 48, 59, -36, 42, -6, -13, 21, -19, -21, 39, -40]


on_time = sum(1 for time in a if time <= 0)
print("NO" if on_time >= k else "YES")
on_time

NO

22

In [1]:
va = [1,2,3,4,5,6,7,8,9,10]
for i in va:
    val = ((i*5)*2) - 1
    print(i," : ",val)

1  :  9
2  :  19
3  :  29
4  :  39
5  :  49
6  :  59
7  :  69
8  :  79
9  :  89
10  :  99

In [35]:
n = [
123456789,
114108089,
110110015,
121,
33,
44,
55,
66,
77,
88,
106108048]

n[0] = 101
count = 0
for i in str(n[0]):
    if (n[0]/int(i)):
        print(n[0]/int(i) )
        count = count + 1
        
print(j, " : ",count)

101.0

ZeroDivisionError: division by zero

In [30]:
17636684.14285714.is_integer()

False

In [16]:
txt = 123.4

x = type(txt)

print(x)

<class 'float'>

In [41]:
v = 5
def fact(n):
    if n == 1:
        return 1
    else:
        return n* fact(n-1)
    
fact(5)

120

In [44]:
def fact(n):
    if n == 0 or n == 1:
        print(1)  # print result
        return 1
    else:
        result = n * fact(n - 1)
        if n == 5:  # or any top-level call
            print(result)
        return result

fact(5)

1
120

120

In [46]:
n = 5
for i in range(1,n):
    print(i)

1
2
3
4

In [ ]:
Input = "aaabbccc"
li = []
a = []
for i in Input:
    if i not in a:
        a.append(i)
for i in a:   
    val = Input.count(i)   
    li.append(i)
    li.append(str(val))
print("".join(li))

a3b2c3

In [ ]:
Input = "aaabbccc"

no1 = 0
li2 = []
li3 = []

for i in Input:
    if i not in a:
        a.append(i)

for i in a:
    for j in Input:
        if i == j:
            no1 = no1 + 1
    li2.append(no1)
    no1 = 0

for i,j in zip(a,li2):
    li3.append(i)
    li3.append(str(j))
print("".join(li3))

li2,a

a3b2c3

([3, 2, 3], ['a', 'b', 'c'])

In [ ]:
a = [[1,2,3],
[4,5,6],
[7,8,9]]

count = 0
add = 0

for i,j in zip(a,a[::-1]):
    add = i[count] + add
    add = j[count] + add
    
    count = count + 1 

add

30

In [11]:
a[::-1]

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [ ]:
# selection sort
arr = [4,3,1,5,2]

for i in range(len(arr)-1):
    pos = i
    for j in range(pos + 1, len(arr)):
        if arr[j] < arr[pos]: 
            pos = j
    arr[pos],arr[i] = arr[i],arr[pos]   
print(arr)

[1, 2, 3, 4, 5]

In [13]:
arr = [7, 10, 4, 3, 20, 15]
k = 3
count = 0
for i in range(len(arr)):
    min = i
    for j in range(min+1, len(arr)):
        if arr[min] > arr[j]:
            min = j
        arr[min], arr[i] = arr[i], arr[min]
arr[k-1]

7

In [23]:
Input =  [1, 5, 2, 4, 3]
Output = 3
count = 0
for i in range(len(Input)-1):
    min = i
    for j in range(min+1, len(Input)):
        if Input[min] > Input[j] :
            min = j
            print(Input[min], count)
            count = count + 1
        Input[min], Input[i] = Input[i], Input[min]
        
Input

2 0
4 1
4 2
3 3
4 4

[1, 2, 3, 4, 5]

In [31]:
arr = [1, 2, 3, 4, 5]
k = 9
s = 0
l = len(arr)-1
while s < l:
    act = arr[s] + arr[l]
    if act == k:
        
        print(arr[s],arr[l])
        break
    elif(act < k):
        s = s + 1
    elif(act > k):
        l = l - 1

4 5

In [34]:
arr = [4, 1, 5, 2, 3]
k = 9
for i in arr:
    if (k -i) in arr:
        print(i,k-i)

4 5
5 4

In [38]:
arr = [4, 1, 5, 2, 3]
arr.pop(0)

4

In [39]:
arr = [4, 1, 5, 2, 3]
id(arr[0])

140735488674328

In [55]:
"""5 4 3 2 1 2 3 4 5  
  4 3 2 1 2 3 4  
    3 2 1 2 3  
      2 1 2  
        1"""

n = 5
for i in reversed(range(1,n+1)):
    print("  " * (n - i), end="")
    for j in range(-i,i):
        if j == 0:
            continue
        print(abs(j), end = " ")
    print()

5 4 3 2 1 1 2 3 4
  4 3 2 1 1 2 3
    3 2 1 1 2
      2 1 1
        1

In [54]:
n = 5
for i in reversed(range(1, n + 1)):
    print("  " * (n - i), end="")  # leading spaces

    # Decreasing from i to 1
    for j in range(i, 0, -1):
        print(j, end=" ")

    # Increasing from 1 to i-1 (to avoid double printing the same 1 again)
    for j in range(1, i):
        print(j, end=" ")

    print()

5 4 3 2 1 1 2 3 4
  4 3 2 1 1 2 3
    3 2 1 1 2
      2 1 1
        1

In [57]:
Input = [1, 2, 4, 5, 6]  
Output = 3
for i in range(1,max(Input)):
    if i not in Input:
        print(i)

3

In [58]:
Input = "programming"  
Output = "progamin"
li = []
for i in Input:
    if i not in li:
        li.append(i)

"".join(li)

'progamin'

In [79]:
i = 13
j = 45 
k = 3
count = 0
for day in range(i,j+1):
    b = (day - int(str(day)[::-1]))/k
    if b.is_integer():
        count = count + 1
count

33

In [5]:
a = [4, 6, 5, 3, 3, 1]
li = []
for i in range(len(a)):   
    for j in range(i+1,len(a)):
        if abs((a[i]) - a[j]) == 1:
            print(a[i],a[j])

4 5
4 3
4 3
6 5

In [ ]:
sentence = "aWESOME is cODING"  
val = sentence.swapcase()
b = val.split(" ")
c = 

print(str(c))

Coding IS Awesome

In [77]:
def val(word):
    li = []
    for char in word:
        if char.islower():
            li.append(char.upper())
        elif char.isupper():
            li.append(char.lower())
        else:
            li.append(char)  # in case of special characters
    return ''.join(li)

sentence = "coOL doG"
temp = sentence.split(" ")
li2 = []
for word in temp:
    bro = val(word)
    li2.append(bro)

li2

['COol', 'DOg']

In [ ]:
li.append(sentence[i])
        continue
    else:
        val = sentence[i].swapcase()
        li.append(val)

In [97]:
arr = [1,2,3,4,5,5]
k = 3
n = len(arr)
window_sum = sum(arr[:k])  # arr[0] + arr[1] + arr[2]
max_sum = window_sum
for i in range(k, n):
    print(i)
    window_sum = window_sum - arr[i - k] + arr[i]
    print(arr[i-k],"d", arr[i])
    print(window_sum)

3
1 d 4
9
4
2 d 5
12
5
3 d 5
14

In [ ]:
max_sum = max(max_sum, window_sum)
    print(max_sum)

In [7]:
n = 5 
m = 2 
s = 1
last = (s - 1 + m - 1) % n +1
last

2

In [17]:
a = "zoho"
li = []
"""for i in a:
    print(i)
    for j in range(97,122):
        if chr[j] == i:
            li.append(j)"""

for i in a:
    val = ord(i)
    li.append(val)
a = sorted(li)
li2 = []
for i in a:
    val = chr(i)
    li2.append(val)
"".join(li2)

'hooz'

In [25]:
a = [1,2,3,4,5,6]
b = 3
c= 0
win = 0
for i in range(len(a)):
    print(a[i])

1
2
3
4
5
6

In [29]:
sum(a[0:3]),sum(a[1:4]),sum(a[2:5]),sum(a[3:6])

(6, 9, 12, 15)

In [40]:
c = 3
b = 0
while c < len(a) + 1:
    val = sum(a[b:c])
    print(val)
    c = c + 1
    b = b + 1

6
9
12
15

In [57]:
results = []
def fun(a):
    c = 3
    b = 0
    while c < len(a) + 1 :
        window = a[b:c]
        val = sum(window)
        results.append((val, window))
        c = c + 1
        b = b + 1
    return val

a = [5, 1, 8, 2, 7, 4]
fun(a)
print(results)

[(14, [5, 1, 8]), (11, [1, 8, 2]), (17, [8, 2, 7]), (13, [2, 7, 4])]

In [ ]:
for i in results:
    if i[0]

14
11
17
13

In [1]:
arr = [5, 4, 4, 2, 2, 8]

def cut_sticks(arr):
    while len(arr) > 0:
        print(len(arr))  # Print how many sticks are being cut this round
        min_val = min(arr)
        # Cut the sticks and remove the ones that become zero
        arr = [i - min_val for i in arr if (i - min_val) > 0]

cut_sticks(arr)

6
4
2
1

In [ ]:
p = 20
d = 3
m = 6
s = 80
li = []
while True:
    li.append(val)
    val = p - d
    if val <= m:
        if sum(li) >= s:
            break
        else:
            li.append(val)
    p = val

li

In [95]:
import math 
a = "haveaniceday"
b = a.replace(" ","")
length = len(b)
root = math.sqrt(length)
floor = math.floor(root)
ceil = math.ceil(root)
li = [[] for _ in range(floor)] 

count = 0 
val = 0
for i in range(len(b)):
    if i % 8 == 0 and i != 0 :
        val = val + 1
        
    if val >= floor:
        break
    li[val].append(b[i])

li2 = [
    ''.join(row[col_index] for row in li if col_index < len(row))
    for col_index in range(len(max(li, key=len)))
]
final = " ".join(li2)
final

'he ad va ey a n i c'

In [94]:
s = "haveaniceday"

b = s.replace(" ", "")
L = len(b)

rows = math.floor(math.sqrt(L))
cols = math.ceil(math.sqrt(L))
if rows * cols < L:
    rows = cols

li = [b[i * cols : i * cols + cols] for i in range(rows)]

    # Transpose column-wise
li2 = [
        ''.join(row[i] for row in li if i < len(row))
        for i in range(cols)
    ]

print(' '.join(li2))

hae and via ecy

In [119]:
l1 = [1,2,3]
result = ''.join(str(x) for x in l1)
l1 = int(result)
l2 = [5,6,7]
result = ''.join(str(x) for x in l2)
l2 = int(result)
li = [int(i) for i in str(l1+l2)]
result = ''.join(str(x) for x in (li[::-1]))
print(int(result))

96

In [ ]:
li = [[]] * 5
li[0].append(1)
li

[[1], [1], [1], [1], [1]]